@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Roboto&display=swap");

html {
    box-sizing: border-box;
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: 
  "header header header"
  "main   main   side"
  "main   main   ."
  "footer footer footer";
  grid-template-columns: 150px 1fr 1fr;
  gap: 10px;
}

main, .side {
  margin-left: 5vw;
  margin-right: 5vw;
}

.authBox {
  align-self: center;
  justify-self: flex-end;
}

.App-link {
  color: #61dafb;
}

main {
  width:90%;
  grid-area: main;
}

.side {
  grid-area: side;
}

.panel {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /* width:100%; */
}

.miniPanel {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}
