.bookBox {
  width: 80%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}