.userProfilePanel {
  max-width: 400px;
  display: grid;
  grid-template-areas: 
    "top top"
    "a p"
    "b p"
    "c d";
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
  gap: 10px;
  font-size: small;
  align-items: center;
  justify-items: center;
}

.profileThumb {
  max-width: 50px;
  grid-area: p;
}

#profileHeader {
  grid-area: top;
  font-size:initial;
}
#profileName {
  grid-area: a;
}
#profileEmail {
  grid-area: b;
}
#profileNickName {
  grid-area: c;
}
